<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <a class="logo" href="/">AuksionGo</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Auksion</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </nav>

        {% if user %}
        <div class="buttons">
            <p class="profile-name">{{ user[1].capitalize() }}</p>
            <a class="btn logout-btn" href="/logout">Logout</a>
        </div>
        {% else %}
            <div class="buttons">
                <a href="/login" class="btn login-btn">Login</a>
                <a href="/register" class="btn register-btn">Register</a>
            </div>
        {% endif %}
    </header>
    <section class="register-section">
        <h1>Ro'yxatdan o'tish</h1>
        <form method="POST">
            <label class="register-label" for="fname">Ism</label>
            <input class="register-input" type="text" name="fname" id="fname" required placeholder="Ismingizni kiriting">
            <label class="register-label" for="lname">Familya</label>
            <input class="register-input" type="text" name="lname" id="lname" required placeholder="Familyangizni kiriting">
            <label class="register-label" for="email">Elektron pochta</label>
            <input class="register-input" type="email" name="email" id="email" required placeholder="Elektron pochtangizni kiriting">
            <label class="register-label" for="username">Foydalanuvchi nomi</label>
            <input class="register-input" type="text" name="username" id="username" required placeholder="Foydalanuvchi nomingizni kiriting">
            <label class="register-label" for="password">Parol</label>
            <input class="register-input" type="password" name="password" id="password" required placeholder="Parolingizni kiriting">
            <button class="btn" type="submit">Ro'yxatdan o'tish</button>
        </form>
        <p class="error">{{ error }}</p>
        <a href="/login">Kirish</a>

    </section>
</body>
</html>