<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taklif</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <a class="logo" href="/">AuksionGo</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Auksion</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </nav>

        {% if user %}
        <div class="buttons">
            <p class="profile-name">{{ user[1].capitalize() }}</p>
            <a class="btn logout
            -btn" href="/logout">Logout</a>
        </div>
        {% else %}
            <div class="buttons">
                <a href="/login" class="btn login-btn">Login</a>
                <a href="/register" class="btn register-btn">Register</a>
            </div>
        {% endif %}
    </header>
    <main class="product_container">
        <h1 class="product_heading">Taklif kiritish</h1>
        <form method="POST">
            <label for="price">Narx</label>
            <input type="number" name="price" id="price" required>
            <button type="submit" class="btn btn-green">Taklif kiritish</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 AuctionGo</p>
    </footer>
</body>
</html>